<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Engine</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav class="nav">
    <ul class="nav-list">
      <li><a href="#" class="nav-link">Index</a></li>
      <li><a href="#" class="nav-link">Document</a></li>
      <li><a href="#" class="nav-link">Search</a></li>
    </ul>
  </nav>
  <section class="search">
    <div class="search-box">
      <form action="" class="search-form">
        <div >
          <input type="text" id="search-input" placeholder="Type something">
          <input type="submit" id="search-submit" value="Search">
        </div>
      </form>
    </div>
  </section>
</body>

</html>