nav.nav
  ul.nav-list
    li.nav-link
      a(href='/upload') Upload
    li.nav-link
      a(href='/index') Index
    li.nav-link
      a(href='/document') Document
    li.nav-link
      a(href='/search') Search