doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css')
    title Platform | #{title}
  body
    //NAV
    include _header

    section.search 
      .search-box 
        form.search-form(method='GET' action="/index") 
          .div 
            input#search-input(type="text" name='new_index' placeholder="Type new index name")
            input#search-submit(type="submit" value="Create")

    .container-index
      each index in indicesString
        .element-index
          - indexUnderScore = index.split(' ').join('_');
          a(href=`/document/${indexUnderScore}`)= index
          form(method='GET' action=`/index/${indexUnderScore}?_method=DELETE`)
            button.btn.btn-index(type='submit') Delete