doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="icon" type="image/png" href='/images/favicon.png')
    link(rel='stylesheet' href='/css/style.css')
    title Platform | #{title}
  body
    //NAV
    include _header

    section.search 
      .search-box 
        form.search-form(method='GET' action="/index"  title ="Index name must between 1 - 100 character and not contain: [ , \", *, \, <, |, ,, ., >, /, ?]") 
          .div 
            input#search-input(type="text" name='new_index' placeholder="Type new index name" required autofocus)
            input#search-submit(type="submit" value="Create")

    .container-index
      each index in indicesString
        .element-index
          - indexUnderScore = index.split(' ').join('_');
          a(href=`/document/${indexUnderScore}`)= index
          .div(style="display:flex;gap:10px")
            form(method='GET' action=`/index/${indexUnderScore}/delete`)
              button.btn.btn-index(type='submit') Delete
            a.btn.btn-index(href=`/info/${indexUnderScore}` style="font-size:1.6rem;color:white") Info