doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css')
    title Platform | #{title}

  body
    //NAV
    include _header

    section.search 
      .search-box 
        form.search-form(method='GET' action="/search") 
          .div 
            input#search-input(type="text" name='query_string' placeholder="Type something")
            input#search-submit(type="submit" value="Search")

    h1= data
    each ne in newData
      h2 #{ne}
      hr