*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 500;
}

.nav {
  background-color: #1d3557;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  width: 40%;
  justify-content: space-around;
  list-style: none;
}

.nav-link a:visited,
.nav-link a {
  color: #e7f5ff;
  font-size: 3.6rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.nav-link a:hover,
.nav-link a:active {
  color: #fff;
  transform: scale(1.05);
  text-shadow: 0 0 3px white;
}

.search-box {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.search-form div {
  display: flex;
  align-items: center;
}

#search-input {
  height: 4.8rem;
  font-size: 2.4rem;
  width: 80%;
  /* border-radius: 20px 0 0 20px; */
  border: 2px solid black;
  text-indent: 2rem;
}

#search-submit {
  height: 4.8rem;
  width: 20%;
  border-radius: 0 20px 20px 0;
  font-size: 2.4rem;
  background-color: #e63946;
  color: white;
}

#search-submit:hover {
  background-color: #eb616b;
  transform: translateY(-1px);
}

#limit-box {
  width: 15%;
  height: 4.8rem;
  font-size: 2.4rem;
  border: 2px solid black;
}

.container-index {
  width: 50%;
  margin: auto;
}
.element-index {
  height: 50px;
  margin-bottom: 20px;
  border: 0.5px solid #aaa;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
}

.container-document {
  width: 100%;
}

.document-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: normal;
}

.document-table td,
.document-table th {
  border: 1px solid #f1faee;
  padding: 8px;
}

.document-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.document-table tr:hover {
  background-color: #c7d7e2;
}

.document-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #457b9d;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.document-table tr {
  font-size: 1.4rem;
}

.btn {
  align-items: center;
  background-color: #e76f51;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background-color: #f4a261;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #ee747e;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.btn.btn-delete {
  height: 2px;
  width:80%;
  font-size: 1.4rem;
  padding: 0;
  margin: auto;
}

.inactive {
  display: none !important;
}

.document-input-container {
  margin: 2% auto 2% auto;
  width: 50%;
}

.document-input-element {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.document-input-element input {
  border-radius: 2px;
}

.upload-container {
  width: 50%;
  margin: 30px auto auto auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upload-container .upload-index,
.upload-container .upload-submit {
  height: 4.8rem;
  font-size: 2.4rem;
  border-radius: 20px;
}
.upload-container .upload-file {
  font-size: 2.4rem;
}

.upload-container .upload-index {
  text-indent: 2rem;
}

.upload-container .upload-submit {
  background-color: #e63946;
  color: white;
}

.upload-container .upload-submit:hover {
  background-color: #eb616b;
}

.dropbtn {
  background-color: #30566e;
  border-radius: 0.4rem;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translate(-16px, 16px);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e6f8d;
}

.dropdown-search .dropbtn {
  border-radius: 20px 0 0 20px;
}

.element-index a {
  text-decoration: none;
  font-size: 2.4rem;
  color: black;
}

.err-container {
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.err-code {
  font-size: 15rem;
  font-weight: 900;
  color: #aaa;
}
.err-name {
  font-size: 5rem;
  font-weight: 700;
  color: rgb(255, 69, 69);
}
.err-message {
  font-size: 3rem;
  text-align: center;
  color: #444;
}

.field-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
}

.result-container {
  background-color: #adc178;
  height: 50px;
  line-height: 50px;
  border-radius: 0.4rem;
}

.result {
  font-size: 4rem;
  color: white;
  width: 100px;
  text-align: center;
}

.field-result .dropbtn {
  background-color: #6a95b1;
  width: 200px;
  /* border-radius: 0.4rem 0.4rem 0 0; */
}

.field-result .dropbtn:hover {
  background-color: #8fb0c4;
}
